---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card2 from "@components/Card2";
import Button from "@components/Button.astro"
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";


const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <p>
        Divyanshu is a product designer focused on designing remarkable experiences and user centric products.
      </p>
      <Button
      href="mailto:thakurdivyanshu@gmail.com"
      title="Available for new roles"
      />
    </section>



    {

      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <ul class="grid grid-cols-1 sm:grid-cols-2 gap-8">
              {featuredPosts.map(({ data }) => (
                <Card2
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }


  </main>

  <Footer />
</Layout>


<style>
  /* ===== Hero Section ===== */



  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-gray-800 text-3xl sm:text-3xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply pb-6 my-2 text-3xl leading-relaxed sm:text-4xl text-gray-900 sm:leading-relaxed sm:w-[80%];
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured {
    @apply pb-6 pt-12;
  }


 
</style>
