---
import { SITE } from "@config";


export interface Props {
  activeNav?: "about" | "tags" | "posts" | "search" | "test" | "notes"
}

const { activeNav } = Astro.props;
---

<header class="fixed top-0 w-full bg-white backdrop-blur-md border-b border-slate-100">
  <div class="nav-container">
    <div class="top-nav-wrap">
      <a href="/" class="text-md w-full">
        {SITE.title}
      </a>
      <nav id="nav-menu" class="transition ease-in-out duration-300">
        <ul id="menu-items" class="flex">
          <li>
            <a href="/about" class={activeNav === "about" ? "active" : ""}>About</a>
          </li>
          <!-- <li>
            <a href="/test" class={activeNav === "test" ? "active" : ""}>Changelog</a>
          </li> -->
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
  .nav-container {
    @apply mx-auto flex max-w-5xl items-center justify-between flex-row;
  }
  .top-nav-wrap {
    @apply relative flex w-full items-center justify-between p-4 sm:items-center;
  }
  nav {
    @apply flex w-full items-center ml-2 flex-row justify-end space-x-4 py-0 transition-none;
  }
  nav ul {
    @apply grid grid-cols-2  ml-0 mt-0 w-auto gap-x-5 gap-y-0;
  }
  nav ul li {
    @apply col-span-2 flex items-center justify-center;
  }
  nav ul li a {
    @apply w-full text-center text-gray-500 hover:text-indigo-700 px-2 py-1;
  }
  nav a.active {
    @apply text-gray-700 underline decoration-2 underline-offset-4;
  }
  nav a.active svg {
    @apply fill-skin-accent;
  }
</style>

