---
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "./Layout.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

---

<Layout title={`Changelog | ${SITE.title}`}>
  <Header activeNav="test" />
  <main>
    <section id="hero">
      <h1>
        I'm learning how to code and building this site on my own, here's a changelog of my progress so far
      </h1>
      <div class="prose">
        <slot></slot>
      </div>
    </section>
  </main>
  <Footer />
</Layout>



<style>
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply pb-6 my-2 text-2xl font-light leading-relaxed text-gray-900 sm:leading-relaxed sm:w-[80%];
  }
  .prose :global(p) {
    @apply pb-6 my-2 font-light text-red-500 sm:w-[80%];
  }
  .prose :global(h1) {
    @apply pb-6 my-2 text-4xl font-light sm:leading-relaxed;
  }

  .prose :global(h2) {
    @apply pb-6 my-2 text-2xl font-light leading-relaxed text-gray-900 sm:leading-relaxed sm:w-[80%]
  }
</style>
